
header {
  position: relative;
  height: 50px;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menu {
  padding: 10px 70px;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
  }
}
.hamburger {
  display: none;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  .subheader_logo {
    max-width: 100%;
    margin-top: 16px;
    display: block;
  }
  .subheader_official {
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    margin-top: 6px;
  }
  .subheader_call {
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
  }
  .subheader_btn {
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 19px;
  }
}
.subheader_phone {
  display: block;
  color: #ffffff;
  font-size: 22px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  margin-top: 8px;
}

.promo {
  background: url(../img/bg-head.jpg) center (center / cover) no-repeat;
  min-height: 800px;
  padding: 151px 0 135px;
  .promo_header {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin: 0;
    text-align: center;
  }
  .promo_subheader {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 22px;
    text-align: center;
  }
  .promo_desc {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 23px 0 118px;
  }
  .promo_btn {
    display: block;
    margin: 118px auto 0;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 4px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.advantages {
  padding: 71px 0 65px 0;
}

.label {
  display: block;
  margin: 0 auto;
  width: 112px;
  padding: 5px 12px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  background-color: #000000;
}

.title {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  margin-top: 33px;
  margin-bottom: 0;
  text-align: center;
}

.advantages_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.advantages_round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
  margin-right: 26px;
}

.advantages_content {
  width: 341px;
}

.advantages_subtitle {
  font-size: 17px;
  color: #1eacc7;
  font-weight: 400;
  line-height: 21px;
}

.advantages_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.subtitle {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 19px;
  text-align: center;
}

.mobile {
  min-height: 864px;
	padding: 48px 0 79px 0;
  background: url('../img/mobile_app.jpg') center (center / cover) no-repeat;

  .row {
    margin-top: 32px;
  }

  .mobile_block {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px;
    
    .mobile_text {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center;
    }
    .mobile_plus {
      position: absolute;
      transform: translate(-50%);
      bottom: 35px;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 26px;
      height: 26px;
      background-color: #000000;
      border-radius: 50%;
      text-decoration: none;
      .fas {
        font-size: 14px;
        color: #1eacc7;
        &:hover {
          color: #e9240a;
          transition: 0.3s all;
          text-decoration: none;
        }
      }
    }
  }
  .block1 {
    background: url(../img/m1.jpg) center center/cover no-repeat;
  }
  .block2 {
    background: url(../img/m2.jpg) center center/cover no-repeat;
  }
  .block3 {
    background: url(../img/m3.jpg) center center/cover no-repeat;
  }
  .block4 {
    background: url(../img/m4.jpg) center center/cover no-repeat;
  }
  .block5 {
    background: url(../img/m5.jpg) center center/cover no-repeat;
  }
  .block6 {
    background: url(../img/m6.jpg) center center/cover no-repeat;
  }
}


.auto {
  min-height: 896px;
  background: url(../img/mobile_app.jpg) center center/cover no-repeat;
  position: relative;
  padding: 57px 0 138px;

  .black {
    position: absolute;
    width: 100%;
    height: 499px;
    background-color: #070716;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .auto_img {
    position: relative;
    z-index: 2;
    display: block;
    margin: 56px auto 0;
  }
  .auto_title {
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
}
.l_white {
  background-color: #ffffff;
  color: #000;
  z-index: 2;
  position: relative;
}

.t_white {
  color: #ffffff;
  z-index: 2;
  position: relative;
}
.s_white {
  color: #ffffff;
  z-index: 2;
  position: relative;
}


.require {
  padding: 84px 0 68px;

  .row {
    margin-top: 33px;
  }

  .require_block {
    margin-bottom: 62px;
    .require_title {
      color: #1ca8c3;
      font-size: 22px;
      font-weight: 400;
    }
    .require_list {
      list-style-type: none;
      li {
        position: relative;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 10px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: -32px;
          top: 3px;
          width: 21px;
          height: 20px;
          color: #000;
          background: url(../img/check_blue.svg) center center/cover no-repeat;
        }
      }
    }
    .require_subtitle {
      margin-top: 25px;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      color: #1ca8c3;
    }
  }
  .red_block {
    .r_red {
      color: #ff5656;
    }
    .list_red {
      li {
        &::before {
          background: url(../img/check_red.svg) center center/cover no-repeat;
      }
    }
    }
  }
}

.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url(../img/map.jpg) center center/cover no-repeat;

  .l_min {
    width: 76px;
    text-align: center;
  }

  .world_link {
    position: absolute;
    bottom: 49px;
    left: 50%;
    transform: translate(-50%);
    color: #1fbad6;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

footer {
  padding: 14px 23px 39px;
  border-bottom: 8px #070716;

  .footer_line {
    width: 299px;
    height: 4px;
    background-color: #1fbad6;
    margin: 0 auto;
  }
  .footer_wrap {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer_wrap > div {
    width: 33%;
    &:nth-child(3) {
      display: flex;
      align-items: flex-end;
    }
    
  }
  .footer_social {
    display: flex;
    justify-content: space-between;
    width: 153px;
    .foorer_social_item {
      width: 32px;
      height: 32px;
      background-color: #070716;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      .fab {
        font-size: 18px;
        line-height: 18px;
        color: #fff;
      }
    }
  }

  .footer_link {
    width: 390px;
    margin: 0 auto;

    .footer_link_top {
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      a {
        color: #070716;
        font-size: 15px;
        line-height: 15px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .footer_link_center {
      width: 390px;
      display: flex;
      justify-content: space-between;
      a {
        color: #999999;
        font-size: 11px;
        line-height: 11px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    .footer_bottom {
      display: block;
      color: #1fbad6;
      font-size: 11px;
      font-weight: 400;
      line-height: 11px;
      text-transform: uppercase;
      margin-top: 19px;
      text-align: center;
    }
  }

  .footer_app {
    a {
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.xs-visible {
  display: none;
}
